body {
	font-family: 'Avenir', 'Montserrat', sans-serif;
}

.page-body {
	margin: 20px;
}

#logo {
	font-size: 1.5em;
	text-decoration: none;
	color: black;
}

#danielle-photo {
	height: 260px;
	width: 260px;
}

.navigation {
	width: 30%;
	float: left;
	text-align: center;
}

.main-box {
	width: 68%;
	float: right;
}

.navbar {
	list-style-type: none;
}

.navlinks {
	text-decoration: none;
	color: #224947;
	font-size: 1.2em;
}

#greeting {
	font-style: italic;
	font-size: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}